<a href="https://colab.research.google.com/github/rreghunandan/Tasks/blob/main/Task4_csvfiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
from glob import glob

In [ ]:
d1=pd.read_csv("/content/college_1.csv.csv")
d1

In [ ]:
d2=pd.read_csv("/content/college_2.csv.csv")
d2

In [ ]:
from glob import glob
files=glob("college_*")
files.sort()
files

['college_1.csv', 'college_2.csv']

In [ ]:
data=pd.concat((pd.read_csv(file)for file in files),ignore_index=True)
data.to_csv("Combined data.csv",mode='a')

In [ ]:
data.shape

(119, 9)

In [ ]:
data

In [ ]:
a=data[data["CodeKata Score"]>15000]

In [ ]:
a.to_csv('Exceeded expectations.csv', index=False,mode='a')

In [ ]:
a=data[(data["CodeKata Score"]>10000) & (data["CodeKata Score"]<15000) ]
a.to_csv('Reached_expectations.csv', index=False,mode='a')

In [ ]:
a=data[(data["CodeKata Score"]>7000) & (data["CodeKata Score"]<10000) ]
a.to_csv('Needs_Improvement.csv', index=False,mode='a')

In [ ]:
a=data[(data["CodeKata Score"]<7000)  ]
a.to_csv('Unsatisfactory.csv', index=False,mode='a')

In [ ]:
cs=data['CodeKata Score'].mean()
pg=data['Previous Geekions'].mean()
print(f'Average of Codekata Score is {cs} and Previous Geek is {pg}')

Average of Codekata Score is 4051.764705882353 and Previous Geek is 3842.3529411764707

In [ ]:
rowcount  = 0
#iterating through the whole file
for row in open("/content/Combined data.csv.csv"):
  rowcount+= 1
 #printing the result
print("Number of lines present:-", rowcount)

FileNotFoundError: ignored

In [ ]:
sq=data['mysql'].mean()
sq

23.5

In [ ]:
data.nlargest(3,"CodeKata Score")

          Name  python  mysql  ...  Rising  python_en computational_thinking
0    A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1  V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2  HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN

[3 rows x 9 columns]

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
title_type = data.groupby('Department').agg('Previous Geekions')
title_type

In [ ]:
#Department wise codekata performence

In [ ]:
#Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [ ]:
fig=plt.pie(Previous Geekions,labels=Department)
fig.show()

SyntaxError: ignored